body {
    background-image: url('/images/books.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 0;
}
.container{
    padding: 30px 50px;
}
.wrapper-header a{
    margin: 20px;
}
.border-wrapper{
    background-color: rgba(101, 158, 237,0.5);
    border: 2px solid rgb(183, 179, 179);
    border-radius: 5%;
    margin: 10px;
    padding: 30px 80px;
}
.title-header{
    display: flex;
    justify-content: center;
    text-align: center;
}
table{
    overflow: hidden;
}
